@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D5E1EF;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsk(228, 45% 55%)
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: 20px;
  margin: auto auto;
  background-color: #fff;
  box-shadow: 15px 15px 25px -15px black;
  img {
    margin: 20px;
    border-radius: 10px;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    font-weight: 400;
    color: gray;
    margin: 0 50px 50px 50px;
  }
}